{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula suscipit dolor, vitae fermentum eros tincidunt eget. Donec ut finibus tortor. Phasellus magna nisi, hendrerit sed mi at, ornare tincidunt ligula. Morbi volutpat leo eget lorem maximus fringilla. Ut cursus velit lacus. Sed turpis ipsum, commodo sed sodales ut, venenatis et dui. Suspendisse lobortis magna nisl, non dapibus nunc sodales iaculis. Phasellus tincidunt aliquet neque eget facilisis. Etiam volutpat maximus ornare. Morbi mollis dignissim arcu a fermentum. <br> <br>

Sed rhoncus aliquam suscipit. Nunc semper ligula nec ante dictum, ac pellentesque tellus pellentesque. Quisque auctor velit vel orci pulvinar, et maximus tortor imperdiet. Nam a molestie dolor. Vestibulum vehicula, est dictum aliquet fringilla, elit leo gravida est, eu pulvinar eros orci in tortor. Proin orci libero, venenatis ac accumsan ut, auctor eu mauris. Integer elementum congue pellentesque. Etiam non fermentum enim, consequat hendrerit enim. Proin tincidunt nulla in odio gravida lacinia. <br><br>

Vestibulum pretium sapien in sagittis accumsan. Phasellus id dolor eros. Vestibulum cursus lacus quis lacinia aliquam. Nam lacus dolor, ultrices eget eros sed, suscipit tristique lorem. Morbi gravida mi sapien, a malesuada ante commodo rutrum. Aliquam a elit at justo facilisis molestie vel cursus purus. Pellentesque gravida, arcu eget pellentesque varius, lorem est commodo mi, et accumsan velit purus a urna. Duis iaculis, neque id fringilla semper, justo nunc imperdiet nunc, tempus aliquet lacus tellus ut sem. Praesent sit amet velit quis est bibendum fermentum sed a ex. Nulla ac ullamcorper dolor. Fusce sit amet tristique metus, quis hendrerit ante. Vivamus vitae mi vestibulum, faucibus velit nec, aliquet nisl. Ut hendrerit ligula vitae orci tempor, eget aliquet dui lobortis. Vivamus posuere, lectus vel tempus feugiat, libero nibh dignissim ex, non fermentum diam ipsum vitae felis. Quisque posuere eleifend ante eget efficitur.
<br><br>

                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}